@charset "UTF-8";
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }

/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif; }

h2 {
  font: 25px sans-serif; }

h3 {
  font: 23px sans-serif; }

h4 {
  font: 21px sans-serif; }

h5 {
  font: 18px sans-serif; }

h6 {
  font: 16px sans-serif; }

/**************************************************/
/*╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡*/
/*╤Ж╨▓╨╡╤В╨░*/
/*╤Б╤Б╤Л╨╗╨║╨╕ Header*/
/*╤Б╤Б╤Л╨╗╨║╨╕ Header(hover), buy now (2)*/
/*li:hover(header)*/
/*buy now*/
/*╤И╤А╨╕╤Д╤В╤Л*/
/*╨Ь╨╕╨║╤Б╨╕╨╜╤Л*/
/*header*/
/*service*/
/*bott_form*/
/**************************************************/
.wrapper {
  position: relative;
  display: block;
  width: 100%;
  background: #fff; }
  .wrapper .header {
    position: fixed;
    width: 90%;
    height: 100px;
    padding: 0 5%;
    z-index: 2000;
    background: #fff; }
    .wrapper .header .logo {
      display: block;
      width: 120px;
      cursor: pointer;
      overflow: hidden;
      top: 31px;
      left: 10%;
      position: absolute; }
      .wrapper .header .logo a {
        width: 120px; }
        .wrapper .header .logo a img {
          opacity: 1; }
    .wrapper .header .top_nav {
      float: right;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 10%; }
      .wrapper .header .top_nav ul {
        display: flex;
        justify-content: space-around; }
        .wrapper .header .top_nav ul .c1 {
          padding: 0 30px;
          cursor: pointer;
          height: 100px; }
          .wrapper .header .top_nav ul .c1 .c2 {
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 'regular';
            color: #484c55;
            line-height: 100px; }
        .wrapper .header .top_nav ul .c1:hover {
          background: #f8f9fb;
          padding: 0 30px;
          cursor: pointer;
          height: 100px;
          height: 97px;
          border-bottom: 3px solid #49cbcd; }
          .wrapper .header .top_nav ul .c1:hover .c2 {
            color: #49cbcd; }
  .wrapper .content {
    position: absolute;
    top: 100px;
    width: 100%; }
    .wrapper .content .team {
      text-align: center;
      padding: 110px 0; }
      .wrapper .content .team h2 {
        color: #4e525d;
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400; }
    .wrapper .content .service {
      display: flex;
      justify-content: space-around;
      text-align: center;
      background: #f1f1f1;
      padding: 120px 0 100px 0;
      /*service*/
      /*basic*/
      /*pro*/
      /*premium*/ }
      .wrapper .content .service .basic {
        display: block; }
        .wrapper .content .service .basic ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .basic li {
          width: 368px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .basic li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer; }
        .wrapper .content .service .basic li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .basic li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .basic li span {
          background: #788492; }
        .wrapper .content .service .basic li:first-child {
          background: #788492; }
      .wrapper .content .service .pro {
        display: block; }
        .wrapper .content .service .pro ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .pro li {
          width: 368px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .pro li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer; }
        .wrapper .content .service .pro li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .pro li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .pro li span {
          background: #49cbcd; }
        .wrapper .content .service .pro li:first-child {
          background: #49cbcd; }
      .wrapper .content .service .premium {
        display: block; }
        .wrapper .content .service .premium ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .premium li {
          width: 368px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .premium li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer; }
        .wrapper .content .service .premium li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .premium li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .premium li span {
          background: #788492; }
        .wrapper .content .service .premium li:first-child {
          background: #788492; }
      .wrapper .content .service #c3 {
        background: #485460; }
      .wrapper .content .service #c3:hover {
        background: #366593; }
      .wrapper .content .service #c4 {
        background: #788492; }
      .wrapper .content .service #c4:hover {
        background: #366593; }
      .wrapper .content .service #c5 {
        background: #49cbcd; }
      .wrapper .content .service #c5:hover {
        background: #366593; }
      .wrapper .content .service #c6 {
        background: #49cbcd; }
      .wrapper .content .service #c6:hover {
        background: #366593; }
      .wrapper .content .service #c7 {
        background: #485460; }
      .wrapper .content .service #c7:hover {
        background: #366593; }
      .wrapper .content .service #c8 {
        background: #788492; }
      .wrapper .content .service #c8:hover {
        background: #366593; }
    .wrapper .content .contact {
      background: url(../images/bott_banner.png);
      padding: 100px 0 70px 0;
      text-align: center; }
      .wrapper .content .contact h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 120px; }
      .wrapper .content .contact .bott_cont {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-around; }
        .wrapper .content .contact .bott_cont .left {
          width: 45%;
          padding-right: 4%;
          text-align: left; }
          .wrapper .content .contact .bott_cont .left h3 {
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 10px; }
          .wrapper .content .contact .bott_cont .left p {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #adadad; }
          .wrapper .content .contact .bott_cont .left .social_networks ul {
            display: block;
            padding: 40px 0 20px 0; }
            .wrapper .content .contact .bott_cont .left .social_networks ul li {
              display: inline-block;
              overflow: hidden;
              margin-right: 16px;
              opacity: 0.7;
              width: 42px;
              height: 42px;
              border-radius: 50%; }
            .wrapper .content .contact .bott_cont .left .social_networks ul li:hover {
              opacity: 1; }
          .wrapper .content .contact .bott_cont .left .info h5 {
            color: #bface2;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 12px; }
            .wrapper .content .contact .bott_cont .left .info h5 a {
              color: #bface2; }
        .wrapper .content .contact .bott_cont .right {
          width: 45%;
          padding-left: 4%; }
          .wrapper .content .contact .bott_cont .right form .nE {
            display: flex;
            justify-content: space-between; }
            .wrapper .content .contact .bott_cont .right form .nE input {
              width: 46%;
              height: auto;
              padding: 16px 10px;
              color: #c1c1c1;
              font-family: "Open Sans", sans-serif;
              font-size: 16px;
              font-weight: 400;
              border-radius: 3px;
              border: none; }
          .wrapper .content .contact .bott_cont .right form textarea {
            display: block;
            width: 100%;
            padding: 16px 10px;
            color: #c1c1c1;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            border-radius: 3px;
            border: none;
            margin: 30px 0;
            height: 176px; }
          .wrapper .content .contact .bott_cont .right form .top_sub {
            float: right;
            width: 170px;
            background: #49cbcd;
            border: none;
            border-radius: 3px;
            padding: 8px 0 14px 0;
            text-align: center;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 22px;
            font-weight: 400;
            cursor: pointer; }

/*# sourceMappingURL=style.css.map */
