@charset "UTF-8";
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }

/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif; }

h2 {
  font: 25px sans-serif; }

h3 {
  font: 23px sans-serif; }

h4 {
  font: 21px sans-serif; }

h5 {
  font: 18px sans-serif; }

h6 {
  font: 16px sans-serif; }

/**************************************************/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("../images/ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg"); }
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 51px;
  height: 51px;
  padding: 0;
  border-radius: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  z-index: 1001; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent; }

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1; }

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: .25; }

.slick-prev:before,
.slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: 25px; }

[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto; }

.slick-prev:before {
  content: url(../images/prev.png); }

[dir='rtl'] .slick-prev:before {
  content: 'тЖТ'; }

.slick-next {
  right: 25px; }

[dir='rtl'] .slick-next {
  right: auto;
  left: -25px; }

.slick-next:before {
  content: url(../images/next.png); }

[dir='rtl'] .slick-next:before {
  content: 'тЖР'; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center; }

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer; }

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent; }

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none; }

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1; }

.slick-dots li button:before {
  font-family: 'slick';
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: 'тАв';
  text-align: center;
  opacity: .25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.slick-dots li.slick-active button:before {
  opacity: .75;
  color: black; }

/*╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
.sl__slide {
  position: relative; }

.sl__text {
  position: absolute;
  top: 0;
  width: 100%;
  color: #ffffff;
  text-align: center;
  padding-top: 110px; }

.sl__zag {
  font-family: 'Open Sans', sans-serif;
  font-size: 63px;
  font-weight: 600;
  margin-bottom: 30px; }

.sl__desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
  font-weight: 400;
  margin: 0 auto 10% auto;
  width: 400px; }

.sl__but {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-weight: 600;
  border: 3px solid #fff;
  padding: 20px 40px;
  border-radius: 6px;
  cursor: pointer; }

/*╨Р╨┤╨░╨┐╤В╨╕╨▓╨╜╨╛╤Б╤В╤М ╨║╨░╤А╤В╨╕╨╜╨╛╨║ ╨╕ ╨▓╨╕╨┤╨╡╨╛*/
img {
  max-width: 100%;
  height: auto; }

.vidres {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }

.vidres iframe, .vidres embed, .vidres object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/*╨Ш╤Б╨┐╨╛╨╗╤М╨╖╤Г╨╡╤В╤Б╤П ╨┤╨╗╤П ╤Ж╨╡╨╜╤В╤А╨╕╤А╨╛╨▓╨░╨╜╨╕╤П ╨║╨╛╨╜╤В╨╡╨╜╤В╨░*/
.mid {
  max-width: 1170px;
  /*╨г╨║╨░╨╢╨╕╤В╨╡ ╤Б╨▓╨╛╤С ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡*/
  margin: 0 auto; }

/*╨Ъ╨╛╨╗╨╛╨╜╨║╨╕ - ╨╖╨░╨┤╨░╤С╨╝ ╤Б╨▓╨╛╨╕, ╨╡╤Б╨╗╨╕ ╤З╨╡╨│╨╛ ╤В╨╛ ╨╜╨╡ ╤Е╨▓╨░╤В╨░╨╡╤В
  ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О ╨╕╤Б╨┐╨╛╨╗╤М╨╖╤Г╨╡╤В╤Б╤П ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╨▓ 4% ╨╝╨╡╨╢╨┤╤Г ╨║╨╛╨╗╨╛╨╜╨║╨░╨╝╨╕*/
.col25, .col33, .col50 {
  float: left;
  margin: 0 4% 0 0; }

.col25 {
  /*4 ╨▓ ╤А╤П╨┤*/
  width: 22%; }

.col33 {
  /*3 ╨▓ ╤А╤П╨┤*/
  width: 30.6666666%; }

.col50 {
  /*2 ╨▓ ╤А╤П╨┤*/
  width: 48%; }

.col25:last-child,
.col33:last-child,
.col50:last-child {
  margin: 0; }

/*╨Ю╤З╨╕╤Б╤В╨║╨░ ╨╛╨▒╤В╨╡╨║╨░╨╜╨╕╤П*/
.mid:before, .cf:before, .mid:after, .cf:after {
  content: " ";
  display: table; }

.mid:after, .cf:after {
  clear: both; }

/*╨Р╨┤╨░╨┐╤В╨╕╨▓╨╜╨╛╤Б╤В╤М*/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  .sl__text {
    position: absolute;
    top: 20%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 0; }

  .sl__zag {
    font-size: 46px;
    font-weight: 400;
    opacity: 1; }

  .sl__desc {
    display: block;
    margin: 0 auto 100px auto; }

  .sl__but {
    font-size: 18px;
    font-weight: 400;
    border: 3px solid #fff;
    padding: 15px 30px;
    margin-top: 20px; } }
@media screen and (min-width: 800px) and (max-width: 1023px) {
  .sl__text {
    position: absolute;
    top: 15%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 0; }

  .sl__zag {
    font-size: 36px;
    font-weight: 400;
    opacity: 1; }

  .sl__desc {
    display: block; }

  .sl__but {
    font-size: 18px;
    font-weight: 400;
    border: 3px solid #fff;
    padding: 10px 20px; } }
@media screen and (min-width: 640px) and (max-width: 799px) {
  .sl__text {
    top: 0;
    padding: 0; }

  .sl__zag {
    font-size: 30px;
    margin-bottom: 30px; }

  .sl__desc {
    font-size: 20px;
    margin: 0 auto 60px auto; }

  .sl__but {
    font-size: 22px;
    font-weight: 400;
    padding: 10px 20px; } }
@media screen and (min-width: 320px) and (max-width: 639px) {
  .sl__text {
    position: absolute;
    top: 25%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 0; }

  .sl__zag {
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7; }

  .sl__desc {
    display: none; }

  .sl__but {
    font-size: 18px;
    font-weight: 400;
    border: 3px solid #fff;
    padding: 5px 10px; } }
/*╨б╤В╨╕╨╗╨╕ ╨┤╨╗╤П ╤Б╨╗╨░╨╣╨┤╨╡╤А╨░ */
.sl__slide2 {
  width: 100%;
  height: auto;
  margin: 20px; }

/*.sl__slide img{
    margin: 0 auto;
    margin-bottom: 250px;
    background: grey;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #000;
}*/
.sl__slide2 .slll {
  overflow: hidden;
  margin: 0 auto;
  background: #eeeef0;
  width: 201px;
  height: 201px;
  border-radius: 50%;
  cursor: pointer; }

.sl__slide2 .slll:hover {
  margin: 0 auto;
  background: url(../images/cross.png);
  width: 201px;
  height: 201px;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden; }

.sl__text2 {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #4e525d;
  /*background: #000;*/
  text-align: center;
  padding: 20px 0; }

.sl__zag2, .sl__desc2 {
  margin: 0 0 60px 0;
  padding: 0 10px; }

.sl__zag2 {
  font-size: 22px;
  font-weight: 600;
  margin-top: 50px; }

.sl__zag2 p {
  font-size: 14px;
  font-weight: 400px;
  margin-top: 12px; }

.sl__desc2 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px; }

/*╨Р╨┤╨░╨┐╤В╨╕╨▓╨╜╨╛╤Б╤В╤М ╨║╨░╤А╤В╨╕╨╜╨╛╨║ ╨╕ ╨▓╨╕╨┤╨╡╨╛*/
img {
  max-width: 100%;
  height: auto; }

.vidres {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative; }

.vidres iframe, .vidres embed, .vidres object {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/*╨Ш╤Б╨┐╨╛╨╗╤М╨╖╤Г╨╡╤В╤Б╤П ╨┤╨╗╤П ╤Ж╨╡╨╜╤В╤А╨╕╤А╨╛╨▓╨░╨╜╨╕╤П ╨║╨╛╨╜╤В╨╡╨╜╤В╨░*/
.mid {
  max-width: 1170px;
  /*╨г╨║╨░╨╢╨╕╤В╨╡ ╤Б╨▓╨╛╤С ╨╖╨╜╨░╤З╨╡╨╜╨╕╨╡*/
  margin: 0 auto; }

/*╨Ъ╨╛╨╗╨╛╨╜╨║╨╕ - ╨╖╨░╨┤╨░╤С╨╝ ╤Б╨▓╨╛╨╕, ╨╡╤Б╨╗╨╕ ╤З╨╡╨│╨╛ ╤В╨╛ ╨╜╨╡ ╤Е╨▓╨░╤В╨░╨╡╤В
  ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О ╨╕╤Б╨┐╨╛╨╗╤М╨╖╤Г╨╡╤В╤Б╤П ╤А╨░╤Б╤Б╤В╨╛╤П╨╜╨╕╨╡ ╨▓ 4% ╨╝╨╡╨╢╨┤╤Г ╨║╨╛╨╗╨╛╨╜╨║╨░╨╝╨╕*/
.col25, .col33, .col50 {
  float: left;
  margin: 0 4% 0 0; }

.col25 {
  /*4 ╨▓ ╤А╤П╨┤*/
  width: 22%; }

.col33 {
  /*3 ╨▓ ╤А╤П╨┤*/
  width: 30.6666666%; }

.col50 {
  /*2 ╨▓ ╤А╤П╨┤*/
  width: 48%; }

.col25:last-child,
.col33:last-child,
.col50:last-child {
  margin: 0; }

/*╨Ю╤З╨╕╤Б╤В╨║╨░ ╨╛╨▒╤В╨╡╨║╨░╨╜╨╕╤П*/
.mid:before, .cf:before, .mid:after, .cf:after {
  content: " ";
  display: table; }

.mid:after, .cf:after {
  clear: both; }

/*╨Р╨┤╨░╨┐╤В╨╕╨▓╨╜╨╛╤Б╤В╤М*/
@media screen and (max-width: 1920px) {
  .mid {
    margin: 0 40px; }

  .col25 {
    width: 50%; }

  .col25:nth-child(even) {
    margin: 0; } }
@media screen and (max-width: 1440px) {
  .col25 {
    width: 50%; }

  .col25:nth-child(even) {
    margin: 0; }

  .sl__slide2 .slll {
    width: 181px;
    height: 181px; }

  .sl__slide2 .slll:hover {
    width: 181px;
    height: 181px;
    background: url(../images/crossS800.png); } }
@media screen and (max-width: 1024px) {
  .sl__slide2 .slll {
    width: 181px;
    height: 181px; }

  .sl__slide2 .slll:hover {
    width: 181px;
    height: 181px;
    background: url(../images/crossS800.png); }

  .sl__text2 {
    padding: 10px 0; }

  .sl__zag2, .sl__desc2 {
    margin: 0 0 60px 0;
    padding: 0 10px; }

  .sl__zag2 {
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0; }

  .sl__zag2 p {
    font-size: 14px;
    font-weight: 400px;
    margin-top: 12px; }

  .sl__desc2 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0; } }
@media screen and (max-width: 800px) {
  .sl__slide2 .slll {
    width: 151px;
    height: 151px; }

  .sl__slide2 .slll:hover {
    width: 151px;
    height: 151px;
    background: url(../images/crossS640.png); }

  .sl__text2 {
    padding: 10px 0; }

  .sl__zag2, .sl__desc2 {
    margin: 0 0 20px 0;
    padding: 0 10px; }

  .sl__zag2 {
    font-size: 22px;
    font-weight: 400;
    margin: 20px 0; }

  .sl__zag2 p {
    font-size: 14px;
    font-weight: 400px;
    margin-top: 12px; }

  .sl__desc2 {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0; } }
@media screen and (max-width: 640px) {
  .sl__slide2 {
    width: 270px;
    height: auto;
    margin: 0; }

  .sl__slide2 .slll {
    width: 151px;
    height: 151px; }

  .sl__slide2 .slll:hover {
    width: 151px;
    height: 151px;
    background: url(../images/crossS640.png); }

  .sl__text2 {
    padding: 0; }

  .sl__zag2, .sl__desc2 {
    margin: 0;
    padding: 0 10px; }

  .sl__zag2 {
    margin-top: 10px; }

  .sl__zag2 p {
    margin-top: 0; }

  .sl__desc2 {
    margin-top: 4px; } }
@media screen and (max-width: 401px) {
  .sl__slide2 .slll {
    width: 151px;
    height: 151px; }

  .sl__slide2 .slll:hover {
    width: 151px;
    height: 151px;
    background: url(../images/crossS640.png); } }
#commentForm {
  width: 500px;
  position: relative; }

#commentForm label {
  width: 180px;
  height: 40px; }

#commentForm #cname-error {
  width: 180px;
  height: 40px;
  position: absolute;
  top: -60px;
  background: #ebedec;
  border-radius: 3px;
  text-align: left;
  vertical-align: 50px;
  padding: 5px 10px;
  color: #000; }

#commentForm label:after {
  content: '';
  position: absolute;
  /* ╨Р╨▒╤Б╨╛╨╗╤О╤В╨╜╨╛╨╡ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ */
  left: 20px;
  bottom: -20px;
  /* ╨Я╨╛╨╗╨╛╨╢╨╡╨╜╨╕╨╡ ╤В╤А╨╡╤Г╨│╨╛╨╗╤М╨╜╨╕╨║╨░ */
  border: 10px solid transparent;
  /* ╨Я╤А╨╛╨╖╤А╨░╤З╨╜╤Л╨╡ ╨│╤А╨░╨╜╨╕╤Ж╤Л */
  border-top: 10px solid #ebedec;
  /* ╨Ф╨╛╨▒╨░╨▓╨╗╤П╨╡╨╝ ╤В╤А╨╡╤Г╨│╨╛╨╗╤М╨╜╨╕╨║ */ }

#commentForm #cemail-error {
  width: 180px;
  height: 40px;
  position: absolute;
  top: -60px;
  left: 266px;
  background: #ebedec;
  border-radius: 3px;
  text-align: left;
  vertical-align: 50px;
  padding: 5px 10px;
  color: #000; }

#commentForm #cemail-error:after {
  content: '';
  position: absolute;
  /* ╨Р╨▒╤Б╨╛╨╗╤О╤В╨╜╨╛╨╡ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ */
  left: 20px;
  bottom: -20px;
  /* ╨Я╨╛╨╗╨╛╨╢╨╡╨╜╨╕╨╡ ╤В╤А╨╡╤Г╨│╨╛╨╗╤М╨╜╨╕╨║╨░ */
  border: 10px solid transparent;
  /* ╨Я╤А╨╛╨╖╤А╨░╤З╨╜╤Л╨╡ ╨│╤А╨░╨╜╨╕╤Ж╤Л */
  border-top: 10px solid #ebedec;
  /* ╨Ф╨╛╨▒╨░╨▓╨╗╤П╨╡╨╝ ╤В╤А╨╡╤Г╨│╨╛╨╗╤М╨╜╨╕╨║ */ }

#commentForm #ccomment-error {
  width: 180px;
  height: 40px;
  position: absolute;
  top: 134px;
  left: 14px;
  background: #ebedec;
  border-radius: 3px;
  text-align: left;
  vertical-align: 50px;
  padding: 5px 10px;
  color: #000; }

#commentForm #ccomment-error:after {
  content: '';
  position: absolute;
  /* ╨Р╨▒╤Б╨╛╨╗╤О╤В╨╜╨╛╨╡ ╨┐╨╛╨╖╨╕╤Ж╨╕╨╛╨╜╨╕╤А╨╛╨▓╨░╨╜╨╕╨╡ */
  left: 20px;
  bottom: 50px;
  /* ╨Я╨╛╨╗╨╛╨╢╨╡╨╜╨╕╨╡ ╤В╤А╨╡╤Г╨│╨╛╨╗╤М╨╜╨╕╨║╨░ */
  border: 10px solid transparent;
  /* ╨Я╤А╨╛╨╖╤А╨░╤З╨╜╤Л╨╡ ╨│╤А╨░╨╜╨╕╤Ж╤Л */
  border-bottom: 10px solid #ebedec;
  /* ╨Ф╨╛╨▒╨░╨▓╨╗╤П╨╡╨╝ ╤В╤А╨╡╤Г╨│╨╛╨╗╤М╨╜╨╕╨║ */ }

#commentForm label.error, #commentForm input.submit {
  width: 180px;
  height: 40px; }

#signupForm {
  width: 670px; }

#signupForm label.error {
  margin-left: 10px;
  width: auto;
  display: inline; }

#newsletter_topics label.error {
  display: none;
  margin-left: 103px; }

/***********************************************************/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  #commentForm {
    width: 100%; }

  #commentForm #cname-error {
    top: -56px;
    left: 20%;
    opacity: 0.9;
    height: 38px;
    width: 60%;
    border: 2px solid red;
    text-align: center;
    font-size: 20px;
    color: red; }

  #commentForm #cname-error:after {
    display: none; }

  #commentForm #cemail-error {
    top: 20px;
    left: 20%;
    opacity: 0.9;
    height: 38px;
    width: 60%;
    border: 2px solid red;
    text-align: center;
    font-size: 20px;
    color: red; }

  #commentForm #cemail-error:after {
    display: none; }

  #commentForm #ccomment-error {
    height: 38px;
    width: 60%;
    top: 114px;
    left: 20%;
    opacity: 0.7;
    border: 2px solid red;
    text-align: center;
    font-size: 20px;
    color: red; }

  #commentForm #ccomment-error:after {
    display: none; } }
/***********************************************************/
@media screen and (min-width: 640px) and (max-width: 1023px) {
  #commentForm {
    width: 100%; }

  #commentForm #cname-error {
    top: -56px;
    left: 20%;
    opacity: 0.9;
    height: 38px;
    width: 60%;
    border: 2px solid red;
    text-align: center;
    font-size: 20px;
    color: red; }

  #commentForm #cname-error:after {
    display: none; }

  #commentForm #cemail-error {
    top: 20px;
    left: 20%;
    opacity: 0.9;
    height: 38px;
    width: 60%;
    border: 2px solid red;
    text-align: center;
    font-size: 20px;
    color: red; }

  #commentForm #cemail-error:after {
    display: none; }

  #commentForm #ccomment-error {
    height: 38px;
    width: 60%;
    top: 114px;
    left: 20%;
    opacity: 0.7;
    border: 2px solid red;
    text-align: center;
    font-size: 20px;
    color: red; }

  #commentForm #ccomment-error:after {
    display: none; } }
@media screen and (min-width: 320px) and (max-width: 639px) {
  #commentForm {
    width: 100%; }

  #commentForm #cname-error {
    top: -56px;
    left: 30%;
    opacity: 0.9;
    height: 38px;
    width: 58%;
    text-align: center;
    color: red; }

  #commentForm #cname-error:after {
    display: none; }

  #commentForm #cemail-error {
    top: 20px;
    left: 30%;
    opacity: 0.9;
    height: 38px;
    width: 58%;
    text-align: center;
    color: red; }

  #commentForm #cemail-error:after {
    display: none; }

  #commentForm #ccomment-error {
    height: 38px;
    width: 58%;
    top: 114px;
    left: 30%;
    opacity: 0.7;
    text-align: center;
    color: red; }

  #commentForm #ccomment-error:after {
    display: none; } }
/*╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡*/
/*╤Ж╨▓╨╡╤В╨░*/
/*╤Б╤Б╤Л╨╗╨║╨╕ Header*/
/*╤Б╤Б╤Л╨╗╨║╨╕ Header(hover), buy now (2)*/
/*li:hover(header)*/
/*buy now*/
/*╤И╤А╨╕╤Д╤В╤Л*/
/*╨Ь╨╕╨║╤Б╨╕╨╜╤Л*/
/*header*/
/*service*/
/*bott_form*/
/**************************************************/
.wrapper {
  position: relative;
  display: block;
  width: 100%;
  background: #fff; }
  .wrapper .wrapp2 {
    width: 80%;
    margin: 0 auto; }
  .wrapper .header {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0;
    z-index: 2000;
    background: #fff;
    opacity: 0.7;
    /*hamburger*/ }
    .wrapper .header .logo {
      display: block;
      width: 120px;
      cursor: pointer;
      overflow: hidden;
      top: 31px;
      left: 10%;
      position: absolute; }
      .wrapper .header .logo a {
        width: 120px; }
        .wrapper .header .logo a img {
          opacity: 1; }
    .wrapper .header .top_nav {
      display: inline-block;
      width: 60%;
      margin-left: 35%;
      text-align: center; }
      .wrapper .header .top_nav .cont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .wrapper .header .top_nav .cont .c1 {
          padding: 0;
          cursor: pointer;
          height: 100px;
          display: block;
          width: 100%; }
          .wrapper .header .top_nav .cont .c1 .c2 {
            display: block;
            width: 100%;
            height: 100%;
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #484c55;
            line-height: 100px; }
        .wrapper .header .top_nav .cont .c1:hover {
          background: #f8f9fb;
          padding: 0;
          cursor: pointer;
          height: 100px;
          display: block;
          height: 97px;
          border-bottom: 3px solid #49cbcd; }
          .wrapper .header .top_nav .cont .c1:hover .c2 {
            color: #49cbcd; }
    .wrapper .header .menu {
      float: right;
      display: none;
      width: 50px;
      height: 50px;
      background: blue; }
    .wrapper .header .menu a {
      display: block;
      width: 100%;
      height: 100%; }
    .wrapper .header .content {
      margin-top: 0 140px; }
  .wrapper .content {
    position: absolute;
    top: 100px;
    width: 100%; }
    .wrapper .content .team {
      text-align: center;
      padding: 110px 0 50px 0; }
      .wrapper .content .team h2 {
        color: #4e525d;
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 140px; }
    .wrapper .content .service {
      text-align: center;
      background: #f1f1f1;
      padding: 120px 0 100px 0;
      /*service*/
      /*basic*/
      /*pro*/
      /*premium*/ }
      .wrapper .content .service .wrapp2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .wrapper .content .service .basic {
        overflow: hidden;
        display: inline-block; }
        .wrapper .content .service .basic ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .basic li {
          width: 330px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .basic li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none; }
        .wrapper .content .service .basic li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          user-select: none; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .basic li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .basic li span {
          background: #788492; }
        .wrapper .content .service .basic li:first-child {
          background: #788492; }
      .wrapper .content .service .pro {
        overflow: hidden;
        display: inline-block; }
        .wrapper .content .service .pro ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .pro li {
          width: 330px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .pro li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none; }
        .wrapper .content .service .pro li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          user-select: none; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .pro li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .pro li span {
          background: #49cbcd; }
        .wrapper .content .service .pro li:first-child {
          background: #49cbcd; }
      .wrapper .content .service .premium {
        overflow: hidden;
        display: inline-block; }
        .wrapper .content .service .premium ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .premium li {
          width: 330px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .premium li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer;
            -moz-user-select: none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            user-select: none; }
        .wrapper .content .service .premium li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff;
          -moz-user-select: none;
          -khtml-user-select: none;
          -webkit-user-select: none;
          user-select: none; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .premium li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .premium li span {
          background: #788492; }
        .wrapper .content .service .premium li:first-child {
          background: #788492; }
      .wrapper .content .service #c3 {
        background: #485460; }
      .wrapper .content .service #c3:hover {
        background: #366593; }
      .wrapper .content .service #c4 {
        background: #788492; }
      .wrapper .content .service #c5 {
        background: #49cbcd; }
      .wrapper .content .service #c5:hover {
        background: #366593; }
      .wrapper .content .service #c6 {
        background: #49cbcd; }
      .wrapper .content .service #c7 {
        background: #485460; }
      .wrapper .content .service #c7:hover {
        background: #366593; }
      .wrapper .content .service #c8 {
        background: #788492; }
    .wrapper .content .contact {
      background: url(../images/bannerb6.png);
      padding: 100px 0 70px 0;
      text-align: center; }
      .wrapper .content .contact h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 120px; }
      .wrapper .content .contact .bott_cont {
        width: 100%;
        margin: 0 auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .wrapper .content .contact .bott_cont .left {
          width: 45%;
          padding-right: 4%;
          text-align: left; }
          .wrapper .content .contact .bott_cont .left h3 {
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 10px; }
          .wrapper .content .contact .bott_cont .left p {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #adadad; }
          .wrapper .content .contact .bott_cont .left .social_networks ul {
            display: block;
            padding: 40px 0 20px 0; }
            .wrapper .content .contact .bott_cont .left .social_networks ul li {
              display: inline-block;
              overflow: hidden;
              margin-right: 16px;
              opacity: 0.7;
              width: 42px;
              height: 42px;
              border-radius: 50%; }
            .wrapper .content .contact .bott_cont .left .social_networks ul li:hover {
              opacity: 1; }
          .wrapper .content .contact .bott_cont .left .info h5 {
            color: #bface2;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 12px; }
            .wrapper .content .contact .bott_cont .left .info h5 a {
              color: #bface2; }
        .wrapper .content .contact .bott_cont .right {
          width: 45%;
          padding-left: 4%; }
          .wrapper .content .contact .bott_cont .right form .nE {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            .wrapper .content .contact .bott_cont .right form .nE input {
              width: 46%;
              height: auto;
              padding: 16px 10px;
              color: #c1c1c1;
              font-family: "Open Sans", sans-serif;
              font-size: 16px;
              font-weight: 400;
              border-radius: 3px;
              border: none; }
          .wrapper .content .contact .bott_cont .right form textarea {
            display: block;
            width: 100%;
            padding: 16px 10px;
            color: #c1c1c1;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            border-radius: 3px;
            border: none;
            margin: 30px 0;
            height: 176px; }
          .wrapper .content .contact .bott_cont .right form .top_sub {
            float: right;
            width: 170px;
            background: #49cbcd;
            border: none;
            border-radius: 3px;
            padding: 8px 0 14px 0;
            text-align: center;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 22px;
            font-weight: 400;
            cursor: pointer; }

/*************************************************************/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
  /*************************************************************/
  .wrapper .header {
    height: 80px; }
    .wrapper .header .logo {
      top: 24px; }
    .wrapper .header .top_nav .cont {
      height: 100%; }
      .wrapper .header .top_nav .cont .c1 {
        cursor: pointer;
        height: 80px;
        display: block; }
        .wrapper .header .top_nav .cont .c1 .c2 {
          display: block;
          line-height: 80px;
          width: 100%;
          height: 80px; }
      .wrapper .header .top_nav .cont .c1:hover {
        height: 77px; }
  .wrapper .content {
    top: 80px; }
    .wrapper .content .team {
      padding: 40px 0 50px 0; }
      .wrapper .content .team h2 {
        margin-bottom: 20px; }
    .wrapper .content .service {
      padding: 30px 0 40px 0; }
      .wrapper .content .service .wrapp2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .wrapper .content .service .basic {
        width: 30%; }
        .wrapper .content .service .basic li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
          .wrapper .content .service .basic li span {
            padding: 8px 24px; }
        .wrapper .content .service .basic li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 48px;
          line-height: 48px; }
        .wrapper .content .service .basic li:last-child {
          height: 78px;
          line-height: 78px; }
      .wrapper .content .service .pro {
        width: 30%; }
        .wrapper .content .service .pro li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
          .wrapper .content .service .pro li span {
            padding: 8px 24px; }
        .wrapper .content .service .pro li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 48px;
          line-height: 48px; }
        .wrapper .content .service .pro li:last-child {
          height: 78px;
          line-height: 78px; }
      .wrapper .content .service .premium {
        width: 30%; }
        .wrapper .content .service .premium li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
          .wrapper .content .service .premium li span {
            padding: 8px 24px; }
        .wrapper .content .service .premium li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 48px;
          line-height: 48px; }
        .wrapper .content .service .premium li:last-child {
          height: 78px;
          line-height: 78px; }
    .wrapper .content .contact {
      padding: 40px 0; }
      .wrapper .content .contact h2 {
        margin-bottom: 40px; }
      .wrapper .content .contact .bott_cont .left {
        width: 45%;
        padding-right: 0; }
        .wrapper .content .contact .bott_cont .left .social_networks ul {
          display: block;
          padding: 20px 0; }
        .wrapper .content .contact .bott_cont .left .info h5 {
          margin-bottom: 8px; }
      .wrapper .content .contact .bott_cont .right {
        width: 45%;
        padding-left: 0; }
        .wrapper .content .contact .bott_cont .right form .nE {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .wrapper .content .contact .bott_cont .right form .nE input {
            width: 46%;
            height: auto;
            padding: 8px;
            color: #c1c1c1;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            border-radius: 3px;
            border: none; }
        .wrapper .content .contact .bott_cont .right form textarea {
          display: block;
          width: 100%;
          padding: 8px;
          color: #c1c1c1;
          font-family: "Open Sans", sans-serif;
          font-size: 16px;
          font-weight: 400;
          border-radius: 3px;
          border: none;
          margin: 18px 0 8px 0;
          height: 146px; }
        .wrapper .content .contact .bott_cont .right form .top_sub {
          width: 30%;
          padding: 8px 0;
          cursor: pointer;
          font-size: 20px; } }
/***********************************************************/
@media screen and (min-width: 800px) and (max-width: 1023px) {
  /***********************************************************/
  .wrapper .header {
    height: 80px; }
    .wrapper .header .logo {
      width: 120px;
      top: 24px;
      left: 5%; }
    .wrapper .header .top_nav .cont .c1 {
      cursor: pointer;
      height: 80px; }
      .wrapper .header .top_nav .cont .c1 .c2 {
        line-height: 80px; }
    .wrapper .header .top_nav .cont .c1:hover {
      cursor: pointer;
      height: 80px;
      height: 77px; }
  .wrapper .content {
    top: 80px; }
    .wrapper .content .team {
      padding: 40px 0 20px 0; }
      .wrapper .content .team h2 {
        color: #4e525d;
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 30px; }
    .wrapper .content .service {
      padding: 40px 0 60px 0; }
      .wrapper .content .service .wrapp2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .wrapper .content .service .basic {
        width: 30%;
        border-radius: 6px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px; }
        .wrapper .content .service .basic ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .basic li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
        .wrapper .content .service .basic li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 45px;
          line-height: 45px; }
        .wrapper .content .service .basic li:last-child {
          height: 68px;
          line-height: 68px; }
      .wrapper .content .service .pro {
        width: 30%;
        border-radius: 6px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px; }
        .wrapper .content .service .pro ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .pro li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
        .wrapper .content .service .pro li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 45px;
          line-height: 45px; }
        .wrapper .content .service .pro li:last-child {
          height: 68px;
          line-height: 68px; }
      .wrapper .content .service .premium {
        width: 30%;
        border-radius: 6px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px; }
        .wrapper .content .service .premium ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .premium li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
        .wrapper .content .service .premium li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 45px;
          line-height: 45px; }
        .wrapper .content .service .premium li:last-child {
          height: 68px;
          line-height: 68px; }
    .wrapper .content .contact {
      padding: 30px 0 40px 0; }
      .wrapper .content .contact h2 {
        font-size: 36px;
        margin-bottom: 40px; }
      .wrapper .content .contact .bott_cont .left {
        width: 35%;
        padding-right: 0; }
        .wrapper .content .contact .bott_cont .left h3 {
          font-size: 20px; }
        .wrapper .content .contact .bott_cont .left p {
          font-size: 12px; }
        .wrapper .content .contact .bott_cont .left .social_networks ul {
          display: block;
          padding: 0; }
      .wrapper .content .contact .bott_cont .right {
        width: 55%;
        padding-left: 0; }
        .wrapper .content .contact .bott_cont .right form .nE input {
          padding: 5px;
          font-size: 12px; }
        .wrapper .content .contact .bott_cont .right form textarea {
          display: block;
          width: 100%;
          padding: 5px;
          font-size: 12px;
          margin: 10px 0;
          height: 126px; }
        .wrapper .content .contact .bott_cont .right form .top_sub {
          width: 30%;
          padding: 2px 0 7px 0;
          font-size: 14px; } }
/***********************************************************/
@media screen and (min-width: 640px) and (max-width: 799px) {
  /*╨Ь╨╕╨║╤Б╨╕╨╜╤Л*/
  /*header*/
  /*service*/
  /*bott_form*/
  /***********************************************************/
  .wrapper {
    position: relative;
    display: block;
    width: 100%;
    background: #fff; }
    .wrapper .wrapp2 {
      width: 80%;
      margin: 0 auto; }
    .wrapper .header {
      height: 50px; }
      .wrapper .header .logo {
        display: block;
        width: 120px;
        cursor: pointer;
        overflow: hidden;
        top: 4px;
        left: 5%;
        position: absolute; }
        .wrapper .header .logo a {
          width: 120px; }
          .wrapper .header .logo a img {
            opacity: 1; }
      .wrapper .header .top_nav .cont {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        .wrapper .header .top_nav .cont .c1 {
          padding: 0 10px;
          cursor: pointer;
          height: 50px; }
          .wrapper .header .top_nav .cont .c1 .c2 {
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 'regular';
            color: #484c55;
            line-height: 50px; }
        .wrapper .header .top_nav .cont .c1:hover {
          background: #f8f9fb;
          padding: 0 10px;
          cursor: pointer;
          height: 50px;
          height: 47px;
          border-bottom: 3px solid #49cbcd; }
          .wrapper .header .top_nav .cont .c1:hover .c2 {
            color: #49cbcd; }
    .wrapper .content {
      position: absolute;
      top: 50px;
      width: 100%; }
      .wrapper .content .team {
        text-align: center;
        padding: 50px 0 50px 0; }
        .wrapper .content .team h2 {
          color: #4e525d;
          font-family: "Open Sans", sans-serif;
          font-size: 42px;
          font-weight: 400;
          margin-bottom: 40px; }
      .wrapper .content .service {
        text-align: center;
        background: #f1f1f1;
        padding: 60px 0 40px 0; }
        .wrapper .content .service .wrapp2 {
          display: block; }
        .wrapper .content .service .basic {
          overflow: hidden;
          display: block;
          margin: 10px auto;
          width: 80%;
          margin-bottom: 20px; }
          .wrapper .content .service .basic ul {
            border: 1px solid #ecf0f1; }
          .wrapper .content .service .basic li {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #ecf0f1;
            background: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #8c9299;
            line-height: 30px; }
            .wrapper .content .service .basic li span {
              border-radius: 3px;
              padding: 12px 49px;
              cursor: pointer; }
          .wrapper .content .service .basic li:first-child {
            height: 60px;
            border-bottom: none;
            line-height: 60px;
            font-size: 26px;
            color: #fff; }
          .wrapper .content .service .basic li:nth-child(2) {
            height: 50px;
            background: #f8f9fb;
            line-height: 50px;
            font-size: 20px;
            color: #485460; }
          .wrapper .content .service .basic li:last-child {
            height: 80px;
            border-bottom: none;
            background: #f8f9fb;
            line-height: 80px;
            font-size: 17px;
            color: #fff;
            font-weight: 900; }
        .wrapper .content .service .pro {
          overflow: hidden;
          display: block;
          margin: 10px auto;
          width: 80%;
          margin-bottom: 20px; }
          .wrapper .content .service .pro ul {
            border: 1px solid #ecf0f1; }
          .wrapper .content .service .pro li {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #ecf0f1;
            background: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #8c9299;
            line-height: 30px; }
            .wrapper .content .service .pro li span {
              border-radius: 3px;
              padding: 12px 49px;
              cursor: pointer; }
          .wrapper .content .service .pro li:first-child {
            height: 60px;
            border-bottom: none;
            line-height: 60px;
            font-size: 26px;
            color: #fff; }
          .wrapper .content .service .pro li:nth-child(2) {
            height: 50px;
            background: #f8f9fb;
            line-height: 50px;
            font-size: 20px;
            color: #485460; }
          .wrapper .content .service .pro li:last-child {
            height: 80px;
            border-bottom: none;
            background: #f8f9fb;
            line-height: 80px;
            font-size: 17px;
            color: #fff;
            font-weight: 900; }
        .wrapper .content .service .premium {
          overflow: hidden;
          display: block;
          margin: 10px auto;
          width: 80%; }
          .wrapper .content .service .premium ul {
            border: 1px solid #ecf0f1; }
          .wrapper .content .service .premium li {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #ecf0f1;
            background: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #8c9299;
            line-height: 30px; }
            .wrapper .content .service .premium li span {
              border-radius: 3px;
              padding: 12px 49px;
              cursor: pointer; }
          .wrapper .content .service .premium li:first-child {
            height: 60px;
            border-bottom: none;
            line-height: 60px;
            font-size: 26px;
            color: #fff; }
          .wrapper .content .service .premium li:nth-child(2) {
            height: 50px;
            background: #f8f9fb;
            line-height: 50px;
            font-size: 20px;
            color: #485460; }
          .wrapper .content .service .premium li:last-child {
            height: 80px;
            border-bottom: none;
            background: #f8f9fb;
            line-height: 80px;
            font-size: 17px;
            color: #fff;
            font-weight: 900; }
      .wrapper .content .contact {
        background: url(../images/bannerb6.png);
        padding: 40px 0 70px 0;
        text-align: center; }
        .wrapper .content .contact h2 {
          font-family: "Open Sans", sans-serif;
          font-size: 42px;
          font-weight: 400;
          color: #fff;
          margin-bottom: 60px; }
        .wrapper .content .contact .bott_cont {
          width: 100%;
          margin: 0 auto;
          display: block;
          -webkit-box-pack: none;
          -ms-flex-pack: none;
          justify-content: none; }
          .wrapper .content .contact .bott_cont .left {
            display: block;
            width: 100%;
            padding-right: 0;
            text-align: center; }
            .wrapper .content .contact .bott_cont .left h3 {
              font-family: "Open Sans", sans-serif;
              font-size: 24px;
              font-weight: 400;
              color: #fff;
              margin-bottom: 10px; }
            .wrapper .content .contact .bott_cont .left p {
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: #adadad; }
            .wrapper .content .contact .bott_cont .left .social_networks ul {
              display: block;
              padding: 40px 0 20px 0; }
              .wrapper .content .contact .bott_cont .left .social_networks ul li {
                display: inline-block;
                overflow: hidden;
                margin-right: 16px;
                opacity: 0.7;
                width: 42px;
                height: 42px;
                border-radius: 50%; }
              .wrapper .content .contact .bott_cont .left .social_networks ul li:hover {
                opacity: 1; }
            .wrapper .content .contact .bott_cont .left .info h5 {
              color: #bface2;
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 12px; }
              .wrapper .content .contact .bott_cont .left .info h5 a {
                color: #bface2; }
          .wrapper .content .contact .bott_cont .right {
            display: block;
            width: 100%;
            padding-left: 0; }
            .wrapper .content .contact .bott_cont .right form .nE {
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: justify;
              -ms-flex-pack: justify;
              justify-content: space-between; }
              .wrapper .content .contact .bott_cont .right form .nE input {
                width: 46%;
                height: auto;
                padding: 16px 10px;
                color: #c1c1c1;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
                border-radius: 3px;
                border: none; }
            .wrapper .content .contact .bott_cont .right form textarea {
              display: block;
              width: 100%;
              padding: 16px 10px;
              color: #c1c1c1;
              font-family: "Open Sans", sans-serif;
              font-size: 16px;
              font-weight: 400;
              border-radius: 3px;
              border: none;
              margin: 30px 0;
              height: 176px; }
            .wrapper .content .contact .bott_cont .right form .top_sub {
              float: right;
              width: 170px;
              background: #49cbcd;
              border: none;
              border-radius: 3px;
              padding: 8px 0 14px 0;
              text-align: center;
              color: #fff;
              font-family: "Open Sans", sans-serif;
              font-size: 22px;
              font-weight: 400;
              cursor: pointer; } }
/***********************************************************/
/***********************************************************/
@media screen and (min-width: 320px) and (max-width: 639px) {
  /*╤Б╤Б╤Л╨╗╨║╨╕ Header*/
  /*li:hover(header)*/
  /*service*/
  .wrapper .wrapp2 {
    width: 80%;
    margin: 0 auto; }
  .wrapper .header {
    height: 50px;
    /*hamburger*/ }
    .wrapper .header .logo {
      top: 6px; }
    .wrapper .header .top_nav {
      float: none;
      display: none; }
      .wrapper .header .top_nav .cont .c1 {
        display: block; }
    .wrapper .header .menu {
      display: block;
      width: 42px;
      height: 21px;
      position: absolute;
      top: 16px;
      right: 10%;
      background: none;
      cursor: pointer;
      z-index: 10000; }
    .wrapper .header .menu .hamburger {
      display: block;
      width: 40px;
      height: 4px;
      background: #475a85;
      margin-bottom: 4px;
      border-radius: 2px;
      cursor: pointer; }
    .wrapper .header .menu .hamburger:last-child {
      margin-bottom: 0; }
    .wrapper .header .top_nav {
      position: absolute;
      display: none;
      float: none;
      top: 50px;
      width: 100%;
      padding: 0; }
      .wrapper .header .top_nav .cont {
        display: block; }
        .wrapper .header .top_nav .cont .c1 {
          padding: 0 20px;
          cursor: pointer;
          height: 20px;
          line-height: 20px; }
          .wrapper .header .top_nav .cont .c1 .c2 {
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 'regular';
            color: #484c55;
            line-height: 20px; }
        .wrapper .header .top_nav .cont .c1:hover {
          background: #f8f9fb;
          padding: 0 20px;
          cursor: pointer;
          height: 20px;
          line-height: 20px;
          height: 17px;
          border-bottom: 3px solid #49cbcd; }
          .wrapper .header .top_nav .cont .c1:hover .c2 {
            color: #49cbcd; }
    .wrapper .header .top_nav.active {
      display: block;
      width: 50%;
      text-align: left;
      background: #ebedec;
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 1000;
      cursor: pointer;
      padding: 0;
      margin-top: 0; }
  .wrapper .content {
    top: 50px; }
    .wrapper .content .team {
      padding: 10px 0 20px 0; }
      .wrapper .content .team h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0; }
    .wrapper .content .service {
      padding: 10px 0 10px 0; }
      .wrapper .content .service .wrapp2 {
        display: block;
        width: 80%;
        margin: 0 auto; }
      .wrapper .content .service .basic {
        display: block;
        margin-bottom: 20px;
        border-radius: 6px; }
        .wrapper .content .service .basic li {
          width: 100%;
          height: 30px;
          line-height: 30px; }
          .wrapper .content .service .basic li span {
            border-radius: 3px;
            padding: 4px 16px;
            cursor: pointer; }
        .wrapper .content .service .basic li:first-child {
          height: 40px;
          line-height: 40px; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 30px;
          line-height: 30px; }
        .wrapper .content .service .basic li:last-child {
          height: 40px;
          line-height: 40px;
          font-size: 17px;
          color: #fff;
          font-weight: 600; }
        .wrapper .content .service .basic li span {
          background: #788492; }
        .wrapper .content .service .basic li:first-child {
          background: #788492; }
      .wrapper .content .service .pro {
        display: block;
        margin-bottom: 20px;
        border-radius: 6px; }
        .wrapper .content .service .pro li {
          width: 100%;
          height: 30px;
          line-height: 30px; }
          .wrapper .content .service .pro li span {
            border-radius: 3px;
            padding: 4px 16px;
            cursor: pointer; }
        .wrapper .content .service .pro li:first-child {
          height: 40px;
          line-height: 40px; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 30px;
          line-height: 30px; }
        .wrapper .content .service .pro li:last-child {
          height: 40px;
          line-height: 40px;
          font-size: 17px;
          color: #fff;
          font-weight: 600; }
        .wrapper .content .service .pro li span {
          background: #49cbcd; }
        .wrapper .content .service .pro li:first-child {
          background: #49cbcd; }
      .wrapper .content .service .premium {
        display: block;
        margin-bottom: 20px;
        border-radius: 6px; }
        .wrapper .content .service .premium li {
          width: 100%;
          height: 30px;
          line-height: 30px; }
          .wrapper .content .service .premium li span {
            border-radius: 3px;
            padding: 4px 16px;
            cursor: pointer; }
        .wrapper .content .service .premium li:first-child {
          height: 40px;
          line-height: 40px; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 30px;
          line-height: 30px; }
        .wrapper .content .service .premium li:last-child {
          height: 40px;
          line-height: 40px;
          font-size: 17px;
          color: #fff;
          font-weight: 600; }
        .wrapper .content .service .premium li span {
          background: #788492; }
        .wrapper .content .service .premium li:first-child {
          background: #788492; }
    .wrapper .content .contact {
      padding: 10px 0 140px 0;
      position: relative; }
      .wrapper .content .contact h2 {
        font-size: 22px;
        margin-bottom: 20px; }
      .wrapper .content .contact .bott_cont {
        width: 100%;
        margin: 0 auto;
        display: block; }
        .wrapper .content .contact .bott_cont .left {
          width: 100%;
          padding-right: 0;
          text-align: justify; }
          .wrapper .content .contact .bott_cont .left h3 {
            font-size: 20px; }
          .wrapper .content .contact .bott_cont .left .social_networks ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            padding: 10px 0 20px 0; }
          .wrapper .content .contact .bott_cont .left .info {
            position: absolute;
            bottom: 0;
            margin-bottom: 10px;
            text-align: center;
            left: 0;
            width: 100%; }
            .wrapper .content .contact .bott_cont .left .info h5 {
              margin-bottom: 6px; }
        .wrapper .content .contact .bott_cont .right {
          width: 100%;
          padding-left: 0; }
          .wrapper .content .contact .bott_cont .right form .nE {
            display: block; }
            .wrapper .content .contact .bott_cont .right form .nE input {
              width: 100%;
              height: auto;
              padding: 6px 10px;
              display: block;
              margin-bottom: 10px; }
          .wrapper .content .contact .bott_cont .right form textarea {
            display: block;
            width: 100%;
            padding: 6px 10px;
            margin: 10px 0;
            height: 126px; }
          .wrapper .content .contact .bott_cont .right form .top_sub {
            width: 30%;
            padding: 4px 0 7px 0;
            font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
