@charset "UTF-8";
html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */ }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

img {
  border-style: none;
  max-width: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

input, textarea, select {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  vertical-align: middle;
  color: #000;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

form fieldset {
  margin: 0;
  padding: 0;
  border: none; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

*:focus {
  outline: none; }

input::-webkit-input-placeholder {
  color: #bebebe; }

input:focus::-webkit-input-placeholder {
  color: #bebebe; }

/***************************************************              GENERAL STYLES             ***************************************************/
h1 {
  font: 35px sans-serif; }

h2 {
  font: 25px sans-serif; }

h3 {
  font: 23px sans-serif; }

h4 {
  font: 21px sans-serif; }

h5 {
  font: 18px sans-serif; }

h6 {
  font: 16px sans-serif; }

/**************************************************/
/*╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡*/
/*╤Ж╨▓╨╡╤В╨░*/
/*╤Б╤Б╤Л╨╗╨║╨╕ Header*/
/*╤Б╤Б╤Л╨╗╨║╨╕ Header(hover), buy now (2)*/
/*li:hover(header)*/
/*buy now*/
/*╤И╤А╨╕╤Д╤В╤Л*/
/*╨Ь╨╕╨║╤Б╨╕╨╜╤Л*/
/*header*/
/*service*/
/*bott_form*/
/**************************************************/
.wrapper {
  position: relative;
  display: block;
  width: 100%;
  background: #fff; }
  .wrapper .wrapp2 {
    width: 80%;
    margin: 0 auto; }
  .wrapper .header {
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 0;
    z-index: 2000;
    background: #fff;
    /*hamburger*/ }
    .wrapper .header .logo {
      display: block;
      width: 120px;
      cursor: pointer;
      overflow: hidden;
      top: 31px;
      left: 10%;
      position: absolute; }
      .wrapper .header .logo a {
        width: 120px; }
        .wrapper .header .logo a img {
          opacity: 1; }
    .wrapper .header .top_nav {
      float: right;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 10%; }
      .wrapper .header .top_nav ul {
        display: flex;
        justify-content: space-around; }
        .wrapper .header .top_nav ul .c1 {
          padding: 0 30px;
          cursor: pointer;
          height: 100px; }
          .wrapper .header .top_nav ul .c1 .c2 {
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 'regular';
            color: #484c55;
            line-height: 100px; }
        .wrapper .header .top_nav ul .c1:hover {
          background: #f8f9fb;
          padding: 0 30px;
          cursor: pointer;
          height: 100px;
          height: 97px;
          border-bottom: 3px solid #49cbcd; }
          .wrapper .header .top_nav ul .c1:hover .c2 {
            color: #49cbcd; }
    .wrapper .header .menu {
      float: right;
      display: none;
      width: 50px;
      height: 50px;
      background: blue; }
    .wrapper .header .menu a {
      display: block;
      width: 100%;
      height: 100%; }
    .wrapper .header .content {
      margin-top: 0 140px; }
  .wrapper .content {
    position: absolute;
    top: 100px;
    width: 100%; }
    .wrapper .content .team {
      text-align: center;
      padding: 110px 0 50px 0; }
      .wrapper .content .team h2 {
        color: #4e525d;
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 140px; }
    .wrapper .content .service {
      text-align: center;
      background: #f1f1f1;
      padding: 120px 0 100px 0;
      /*service*/
      /*basic*/
      /*pro*/
      /*premium*/ }
      .wrapper .content .service .wrapp2 {
        display: flex;
        justify-content: space-between; }
      .wrapper .content .service .basic {
        overflow: hidden;
        display: inline-block; }
        .wrapper .content .service .basic ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .basic li {
          width: 330px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .basic li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer; }
        .wrapper .content .service .basic li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .basic li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .basic li span {
          background: #788492; }
        .wrapper .content .service .basic li:first-child {
          background: #788492; }
      .wrapper .content .service .pro {
        overflow: hidden;
        display: inline-block; }
        .wrapper .content .service .pro ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .pro li {
          width: 330px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .pro li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer; }
        .wrapper .content .service .pro li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .pro li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .pro li span {
          background: #49cbcd; }
        .wrapper .content .service .pro li:first-child {
          background: #49cbcd; }
      .wrapper .content .service .premium {
        overflow: hidden;
        display: inline-block; }
        .wrapper .content .service .premium ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .premium li {
          width: 330px;
          height: 45px;
          border-bottom: 1px solid #ecf0f1;
          background: #fff;
          font-family: "Open Sans", sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #8c9299;
          line-height: 45px; }
          .wrapper .content .service .premium li span {
            border-radius: 3px;
            padding: 12px 49px;
            cursor: pointer; }
        .wrapper .content .service .premium li:first-child {
          height: 75px;
          border-bottom: none;
          line-height: 75px;
          font-size: 26px;
          color: #fff; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 68px;
          background: #f8f9fb;
          line-height: 68px;
          font-size: 20px;
          color: #485460; }
        .wrapper .content .service .premium li:last-child {
          height: 98px;
          border-bottom: none;
          background: #f8f9fb;
          line-height: 98px;
          font-size: 17px;
          color: #fff;
          font-weight: 900; }
        .wrapper .content .service .premium li span {
          background: #788492; }
        .wrapper .content .service .premium li:first-child {
          background: #788492; }
      .wrapper .content .service #c3 {
        background: #485460; }
      .wrapper .content .service #c3:hover {
        background: #366593; }
      .wrapper .content .service #c4 {
        background: #788492; }
      .wrapper .content .service #c5 {
        background: #49cbcd; }
      .wrapper .content .service #c5:hover {
        background: #366593; }
      .wrapper .content .service #c6 {
        background: #49cbcd; }
      .wrapper .content .service #c7 {
        background: #485460; }
      .wrapper .content .service #c7:hover {
        background: #366593; }
      .wrapper .content .service #c8 {
        background: #788492; }
    .wrapper .content .contact {
      background: url(../images/bannerb6.png);
      padding: 100px 0 70px 0;
      text-align: center; }
      .wrapper .content .contact h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        color: #fff;
        margin-bottom: 120px; }
      .wrapper .content .contact .bott_cont {
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between; }
        .wrapper .content .contact .bott_cont .left {
          width: 45%;
          padding-right: 4%;
          text-align: left; }
          .wrapper .content .contact .bott_cont .left h3 {
            font-family: "Open Sans", sans-serif;
            font-size: 24px;
            font-weight: 400;
            color: #fff;
            margin-bottom: 10px; }
          .wrapper .content .contact .bott_cont .left p {
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #adadad; }
          .wrapper .content .contact .bott_cont .left .social_networks ul {
            display: block;
            padding: 40px 0 20px 0; }
            .wrapper .content .contact .bott_cont .left .social_networks ul li {
              display: inline-block;
              overflow: hidden;
              margin-right: 16px;
              opacity: 0.7;
              width: 42px;
              height: 42px;
              border-radius: 50%; }
            .wrapper .content .contact .bott_cont .left .social_networks ul li:hover {
              opacity: 1; }
          .wrapper .content .contact .bott_cont .left .info h5 {
            color: #bface2;
            font-family: "Open Sans", sans-serif;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 12px; }
            .wrapper .content .contact .bott_cont .left .info h5 a {
              color: #bface2; }
        .wrapper .content .contact .bott_cont .right {
          width: 45%;
          padding-left: 4%; }
          .wrapper .content .contact .bott_cont .right form .nE {
            display: flex;
            justify-content: space-between; }
            .wrapper .content .contact .bott_cont .right form .nE input {
              width: 46%;
              height: auto;
              padding: 16px 10px;
              color: #c1c1c1;
              font-family: "Open Sans", sans-serif;
              font-size: 16px;
              font-weight: 400;
              border-radius: 3px;
              border: none; }
          .wrapper .content .contact .bott_cont .right form textarea {
            display: block;
            width: 100%;
            padding: 16px 10px;
            color: #c1c1c1;
            font-family: "Open Sans", sans-serif;
            font-size: 16px;
            font-weight: 400;
            border-radius: 3px;
            border: none;
            margin: 30px 0;
            height: 176px; }
          .wrapper .content .contact .bott_cont .right form .top_sub {
            float: right;
            width: 170px;
            background: #49cbcd;
            border: none;
            border-radius: 3px;
            padding: 8px 0 14px 0;
            text-align: center;
            color: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 22px;
            font-weight: 400;
            cursor: pointer; }

/***********************************************************/
@media screen and (min-width: 800px) and (max-width: 1023px) {
  /***********************************************************/
  .wrapper .header {
    height: 80px; }
    .wrapper .header .logo {
      width: 120px;
      top: 4px;
      left: 5%; }
    .wrapper .header .top_nav ul .c1 {
      padding: 0 15px;
      cursor: pointer;
      height: 80px; }
      .wrapper .header .top_nav ul .c1 .c2 {
        line-height: 80px; }
    .wrapper .header .top_nav ul .c1:hover {
      padding: 0 15px;
      cursor: pointer;
      height: 80px;
      height: 77px; }
  .wrapper .content {
    top: 80px; }
    .wrapper .content .team {
      padding: 40px 0 20px 0; }
      .wrapper .content .team h2 {
        color: #4e525d;
        font-family: "Open Sans", sans-serif;
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 30px; }
    .wrapper .content .service {
      padding: 40px 0 60px 0; }
      .wrapper .content .service .wrapp2 {
        display: flex;
        justify-content: space-between; }
      .wrapper .content .service .basic {
        width: 30%;
        border-radius: 6px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px; }
        .wrapper .content .service .basic ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .basic li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
        .wrapper .content .service .basic li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 45px;
          line-height: 45px; }
        .wrapper .content .service .basic li:last-child {
          height: 68px;
          line-height: 68px; }
      .wrapper .content .service .pro {
        width: 30%;
        border-radius: 6px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px; }
        .wrapper .content .service .pro ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .pro li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
        .wrapper .content .service .pro li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 45px;
          line-height: 45px; }
        .wrapper .content .service .pro li:last-child {
          height: 68px;
          line-height: 68px; }
      .wrapper .content .service .premium {
        width: 30%;
        border-radius: 6px;
        overflow: hidden;
        display: inline-block;
        margin-bottom: 20px; }
        .wrapper .content .service .premium ul {
          border: 1px solid #ecf0f1; }
        .wrapper .content .service .premium li {
          width: 100%;
          height: 35px;
          line-height: 35px; }
        .wrapper .content .service .premium li:first-child {
          height: 55px;
          line-height: 55px; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 45px;
          line-height: 45px; }
        .wrapper .content .service .premium li:last-child {
          height: 68px;
          line-height: 68px; }
    .wrapper .content .contact {
      padding: 30px 0 40px 0; }
      .wrapper .content .contact h2 {
        font-size: 36px;
        margin-bottom: 40px; }
      .wrapper .content .contact .bott_cont .left {
        width: 35%;
        padding-right: 0; }
        .wrapper .content .contact .bott_cont .left h3 {
          font-size: 20px; }
        .wrapper .content .contact .bott_cont .left p {
          font-size: 12px; }
        .wrapper .content .contact .bott_cont .left .social_networks ul {
          display: block;
          padding: 0; }
      .wrapper .content .contact .bott_cont .right {
        width: 55%;
        padding-left: 0; }
        .wrapper .content .contact .bott_cont .right form .nE input {
          padding: 5px;
          font-size: 12px; }
        .wrapper .content .contact .bott_cont .right form textarea {
          display: block;
          width: 100%;
          padding: 5px;
          font-size: 12px;
          margin: 10px 0;
          height: 126px; }
        .wrapper .content .contact .bott_cont .right form .top_sub {
          width: 30%;
          padding: 2px 0 7px 0;
          font-size: 14px; } }
/***********************************************************/
@media screen and (min-width: 640px) and (max-width: 799px) {
  /*╨Ь╨╕╨║╤Б╨╕╨╜╤Л*/
  /*header*/
  /*service*/
  /*bott_form*/
  /***********************************************************/
  .wrapper {
    position: relative;
    display: block;
    width: 100%;
    background: #fff; }
    .wrapper .wrapp2 {
      width: 80%;
      margin: 0 auto; }
    .wrapper .header {
      height: 50px; }
      .wrapper .header .logo {
        display: block;
        width: 120px;
        cursor: pointer;
        overflow: hidden;
        top: 4px;
        left: 5%;
        position: absolute; }
        .wrapper .header .logo a {
          width: 120px; }
          .wrapper .header .logo a img {
            opacity: 1; }
      .wrapper .header .top_nav {
        float: right;
        overflow: hidden;
        position: absolute;
        top: 0;
        right: 5%; }
        .wrapper .header .top_nav ul {
          display: flex;
          justify-content: space-around; }
          .wrapper .header .top_nav ul .c1 {
            padding: 0 10px;
            cursor: pointer;
            height: 50px; }
            .wrapper .header .top_nav ul .c1 .c2 {
              font-family: "Open Sans", sans-serif;
              font-size: 15px;
              font-weight: 'regular';
              color: #484c55;
              line-height: 50px; }
          .wrapper .header .top_nav ul .c1:hover {
            background: #f8f9fb;
            padding: 0 10px;
            cursor: pointer;
            height: 50px;
            height: 47px;
            border-bottom: 3px solid #49cbcd; }
            .wrapper .header .top_nav ul .c1:hover .c2 {
              color: #49cbcd; }
    .wrapper .content {
      position: absolute;
      top: 50px;
      width: 100%; }
      .wrapper .content .team {
        text-align: center;
        padding: 50px 0 50px 0; }
        .wrapper .content .team h2 {
          color: #4e525d;
          font-family: "Open Sans", sans-serif;
          font-size: 42px;
          font-weight: 400;
          margin-bottom: 40px; }
      .wrapper .content .service {
        text-align: center;
        background: #f1f1f1;
        padding: 60px 0 40px 0; }
        .wrapper .content .service .wrapp2 {
          display: block; }
        .wrapper .content .service .basic {
          overflow: hidden;
          display: block;
          margin: 10px auto;
          width: 80%;
          margin-bottom: 20px; }
          .wrapper .content .service .basic ul {
            border: 1px solid #ecf0f1; }
          .wrapper .content .service .basic li {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #ecf0f1;
            background: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #8c9299;
            line-height: 30px; }
            .wrapper .content .service .basic li span {
              border-radius: 3px;
              padding: 12px 49px;
              cursor: pointer; }
          .wrapper .content .service .basic li:first-child {
            height: 60px;
            border-bottom: none;
            line-height: 60px;
            font-size: 26px;
            color: #fff; }
          .wrapper .content .service .basic li:nth-child(2) {
            height: 50px;
            background: #f8f9fb;
            line-height: 50px;
            font-size: 20px;
            color: #485460; }
          .wrapper .content .service .basic li:last-child {
            height: 80px;
            border-bottom: none;
            background: #f8f9fb;
            line-height: 80px;
            font-size: 17px;
            color: #fff;
            font-weight: 900; }
        .wrapper .content .service .pro {
          overflow: hidden;
          display: block;
          margin: 10px auto;
          width: 80%;
          margin-bottom: 20px; }
          .wrapper .content .service .pro ul {
            border: 1px solid #ecf0f1; }
          .wrapper .content .service .pro li {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #ecf0f1;
            background: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #8c9299;
            line-height: 30px; }
            .wrapper .content .service .pro li span {
              border-radius: 3px;
              padding: 12px 49px;
              cursor: pointer; }
          .wrapper .content .service .pro li:first-child {
            height: 60px;
            border-bottom: none;
            line-height: 60px;
            font-size: 26px;
            color: #fff; }
          .wrapper .content .service .pro li:nth-child(2) {
            height: 50px;
            background: #f8f9fb;
            line-height: 50px;
            font-size: 20px;
            color: #485460; }
          .wrapper .content .service .pro li:last-child {
            height: 80px;
            border-bottom: none;
            background: #f8f9fb;
            line-height: 80px;
            font-size: 17px;
            color: #fff;
            font-weight: 900; }
        .wrapper .content .service .premium {
          overflow: hidden;
          display: block;
          margin: 10px auto;
          width: 80%; }
          .wrapper .content .service .premium ul {
            border: 1px solid #ecf0f1; }
          .wrapper .content .service .premium li {
            width: 100%;
            height: 30px;
            border-bottom: 1px solid #ecf0f1;
            background: #fff;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: #8c9299;
            line-height: 30px; }
            .wrapper .content .service .premium li span {
              border-radius: 3px;
              padding: 12px 49px;
              cursor: pointer; }
          .wrapper .content .service .premium li:first-child {
            height: 60px;
            border-bottom: none;
            line-height: 60px;
            font-size: 26px;
            color: #fff; }
          .wrapper .content .service .premium li:nth-child(2) {
            height: 50px;
            background: #f8f9fb;
            line-height: 50px;
            font-size: 20px;
            color: #485460; }
          .wrapper .content .service .premium li:last-child {
            height: 80px;
            border-bottom: none;
            background: #f8f9fb;
            line-height: 80px;
            font-size: 17px;
            color: #fff;
            font-weight: 900; }
      .wrapper .content .contact {
        background: url(../images/bannerb6.png);
        padding: 40px 0 70px 0;
        text-align: center; }
        .wrapper .content .contact h2 {
          font-family: "Open Sans", sans-serif;
          font-size: 42px;
          font-weight: 400;
          color: #fff;
          margin-bottom: 60px; }
        .wrapper .content .contact .bott_cont {
          width: 100%;
          margin: 0 auto;
          display: block;
          justify-content: none; }
          .wrapper .content .contact .bott_cont .left {
            display: block;
            width: 100%;
            padding-right: 0;
            text-align: center; }
            .wrapper .content .contact .bott_cont .left h3 {
              font-family: "Open Sans", sans-serif;
              font-size: 24px;
              font-weight: 400;
              color: #fff;
              margin-bottom: 10px; }
            .wrapper .content .contact .bott_cont .left p {
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              font-weight: 400;
              color: #adadad; }
            .wrapper .content .contact .bott_cont .left .social_networks ul {
              display: block;
              padding: 40px 0 20px 0; }
              .wrapper .content .contact .bott_cont .left .social_networks ul li {
                display: inline-block;
                overflow: hidden;
                margin-right: 16px;
                opacity: 0.7;
                width: 42px;
                height: 42px;
                border-radius: 50%; }
              .wrapper .content .contact .bott_cont .left .social_networks ul li:hover {
                opacity: 1; }
            .wrapper .content .contact .bott_cont .left .info h5 {
              color: #bface2;
              font-family: "Open Sans", sans-serif;
              font-size: 14px;
              font-weight: 400;
              margin-bottom: 12px; }
              .wrapper .content .contact .bott_cont .left .info h5 a {
                color: #bface2; }
          .wrapper .content .contact .bott_cont .right {
            display: block;
            width: 100%;
            padding-left: 0; }
            .wrapper .content .contact .bott_cont .right form .nE {
              display: flex;
              justify-content: space-between; }
              .wrapper .content .contact .bott_cont .right form .nE input {
                width: 46%;
                height: auto;
                padding: 16px 10px;
                color: #c1c1c1;
                font-family: "Open Sans", sans-serif;
                font-size: 16px;
                font-weight: 400;
                border-radius: 3px;
                border: none; }
            .wrapper .content .contact .bott_cont .right form textarea {
              display: block;
              width: 100%;
              padding: 16px 10px;
              color: #c1c1c1;
              font-family: "Open Sans", sans-serif;
              font-size: 16px;
              font-weight: 400;
              border-radius: 3px;
              border: none;
              margin: 30px 0;
              height: 176px; }
            .wrapper .content .contact .bott_cont .right form .top_sub {
              float: right;
              width: 170px;
              background: #49cbcd;
              border: none;
              border-radius: 3px;
              padding: 8px 0 14px 0;
              text-align: center;
              color: #fff;
              font-family: "Open Sans", sans-serif;
              font-size: 22px;
              font-weight: 400;
              cursor: pointer; } }
/***********************************************************/
/***********************************************************/
@media screen and (min-width: 320px) and (max-width: 639px) {
  /*╤Б╤Б╤Л╨╗╨║╨╕ Header*/
  /*li:hover(header)*/
  /*service*/
  .wrapper .wrapp2 {
    width: 80%;
    margin: 0 auto; }
  .wrapper .header {
    height: 50px;
    /*hamburger*/ }
    .wrapper .header .logo {
      top: 6px; }
    .wrapper .header .top_nav {
      float: none;
      display: none; }
      .wrapper .header .top_nav ul li {
        display: block; }
    .wrapper .header .menu {
      display: block;
      width: 42px;
      height: 21px;
      position: absolute;
      top: 16px;
      right: 10%;
      background: none;
      cursor: pointer;
      z-index: 10000; }
    .wrapper .header .menu .hamburger {
      display: block;
      width: 40px;
      height: 4px;
      background: #475a85;
      margin-bottom: 4px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      cursor: pointer; }
    .wrapper .header .menu .hamburger:last-child {
      margin-bottom: 0; }
    .wrapper .header .top_nav {
      position: absolute;
      display: none;
      float: none;
      top: 50px;
      width: 100%;
      padding: 0; }
      .wrapper .header .top_nav ul {
        display: block; }
        .wrapper .header .top_nav ul .c1 {
          padding: 0 20px;
          cursor: pointer;
          height: 20px;
          line-height: 20px; }
          .wrapper .header .top_nav ul .c1 .c2 {
            font-family: "Open Sans", sans-serif;
            font-size: 15px;
            font-weight: 'regular';
            color: #484c55;
            line-height: 20px; }
        .wrapper .header .top_nav ul .c1:hover {
          background: #f8f9fb;
          padding: 0 20px;
          cursor: pointer;
          height: 20px;
          line-height: 20px;
          height: 17px;
          border-bottom: 3px solid #49cbcd; }
          .wrapper .header .top_nav ul .c1:hover .c2 {
            color: #49cbcd; }
    .wrapper .header .top_nav.active {
      display: block;
      width: 50%;
      text-align: left;
      background: #ebedec;
      position: absolute;
      top: 50px;
      right: 0;
      z-index: 1000;
      cursor: pointer;
      padding: 0;
      margin-top: 0; }
  .wrapper .content {
    top: 50px; }
    .wrapper .content .team {
      padding: 10px 0 20px 0; }
      .wrapper .content .team h2 {
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 0; }
    .wrapper .content .service {
      padding: 10px 0 10px 0; }
      .wrapper .content .service .wrapp2 {
        display: block;
        width: 80%;
        margin: 0 auto; }
      .wrapper .content .service .basic {
        display: block;
        margin-bottom: 20px;
        border-radius: 6px; }
        .wrapper .content .service .basic li {
          width: 100%;
          height: 30px;
          line-height: 30px; }
          .wrapper .content .service .basic li span {
            border-radius: 3px;
            padding: 4px 16px;
            cursor: pointer; }
        .wrapper .content .service .basic li:first-child {
          height: 40px;
          line-height: 40px; }
        .wrapper .content .service .basic li:nth-child(2) {
          height: 30px;
          line-height: 30px; }
        .wrapper .content .service .basic li:last-child {
          height: 40px;
          line-height: 40px;
          font-size: 17px;
          color: #fff;
          font-weight: 600; }
        .wrapper .content .service .basic li span {
          background: #788492; }
        .wrapper .content .service .basic li:first-child {
          background: #788492; }
      .wrapper .content .service .pro {
        display: block;
        margin-bottom: 20px;
        border-radius: 6px; }
        .wrapper .content .service .pro li {
          width: 100%;
          height: 30px;
          line-height: 30px; }
          .wrapper .content .service .pro li span {
            border-radius: 3px;
            padding: 4px 16px;
            cursor: pointer; }
        .wrapper .content .service .pro li:first-child {
          height: 40px;
          line-height: 40px; }
        .wrapper .content .service .pro li:nth-child(2) {
          height: 30px;
          line-height: 30px; }
        .wrapper .content .service .pro li:last-child {
          height: 40px;
          line-height: 40px;
          font-size: 17px;
          color: #fff;
          font-weight: 600; }
        .wrapper .content .service .pro li span {
          background: #49cbcd; }
        .wrapper .content .service .pro li:first-child {
          background: #49cbcd; }
      .wrapper .content .service .premium {
        display: block;
        margin-bottom: 20px;
        border-radius: 6px; }
        .wrapper .content .service .premium li {
          width: 100%;
          height: 30px;
          line-height: 30px; }
          .wrapper .content .service .premium li span {
            border-radius: 3px;
            padding: 4px 16px;
            cursor: pointer; }
        .wrapper .content .service .premium li:first-child {
          height: 40px;
          line-height: 40px; }
        .wrapper .content .service .premium li:nth-child(2) {
          height: 30px;
          line-height: 30px; }
        .wrapper .content .service .premium li:last-child {
          height: 40px;
          line-height: 40px;
          font-size: 17px;
          color: #fff;
          font-weight: 600; }
        .wrapper .content .service .premium li span {
          background: #788492; }
        .wrapper .content .service .premium li:first-child {
          background: #788492; }
    .wrapper .content .contact {
      padding: 10px 0 140px 0;
      position: relative; }
      .wrapper .content .contact h2 {
        font-size: 22px;
        margin-bottom: 20px; }
      .wrapper .content .contact .bott_cont {
        width: 100%;
        margin: 0 auto;
        display: block; }
        .wrapper .content .contact .bott_cont .left {
          width: 100%;
          padding-right: 0;
          text-align: justify; }
          .wrapper .content .contact .bott_cont .left h3 {
            font-size: 20px; }
          .wrapper .content .contact .bott_cont .left .social_networks ul {
            display: flex;
            justify-content: space-around;
            padding: 10px 0 20px 0; }
          .wrapper .content .contact .bott_cont .left .info {
            position: absolute;
            bottom: 0;
            margin-bottom: 10px; }
            .wrapper .content .contact .bott_cont .left .info h5 {
              margin-bottom: 6px; }
        .wrapper .content .contact .bott_cont .right {
          width: 100%;
          padding-left: 0; }
          .wrapper .content .contact .bott_cont .right form .nE {
            display: block; }
            .wrapper .content .contact .bott_cont .right form .nE input {
              width: 100%;
              height: auto;
              padding: 6px 10px;
              display: block;
              margin-bottom: 10px; }
          .wrapper .content .contact .bott_cont .right form textarea {
            display: block;
            width: 100%;
            padding: 6px 10px;
            margin: 10px 0;
            height: 126px; }
          .wrapper .content .contact .bott_cont .right form .top_sub {
            width: 30%;
            padding: 4px 0 7px 0;
            font-size: 20px; } }

/*# sourceMappingURL=style.css.map */
