#commentForm {
		width: 500px;
        position: relative;
	}
	#commentForm label {
		width: 180px;
        height: 40px;
	}
    #commentForm #cname-error {
		width: 180px;
        height: 40px;
        position: absolute;
        top: -60px;
        background: #ebedec;
        border-radius: 3px;
        text-align: left;
        vertical-align: 50px;
        padding: 5px 10px;
        color: #000;
	}
    #commentForm label:after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 20px; bottom: -20px; /* Положение треугольника */
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid #ebedec; /* Добавляем треугольник */
    }
    #commentForm #cemail-error {
		width: 180px;
        height: 40px;
        position: absolute;
        top: -60px;
        left: 266px;
        background: #ebedec;
        border-radius: 3px;
        text-align: left;
        vertical-align: 50px;
        padding: 5px 10px;
        color: #000;
	}
    #commentForm #cemail-error:after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 20px; bottom: -20px; /* Положение треугольника */
        border: 10px solid transparent; /* Прозрачные границы */
        border-top: 10px solid #ebedec; /* Добавляем треугольник */
    }
    #commentForm #ccomment-error {
		width: 180px;
        height: 40px;
        position: absolute;
        top: 134px;
        left: 14px;
        background: #ebedec;
        border-radius: 3px;
        text-align: left;
        vertical-align: 50px;
        padding: 5px 10px;
        color: #000;
	}
    #commentForm #ccomment-error:after {
        content: ''; 
        position: absolute; /* Абсолютное позиционирование */
        left: 20px; bottom: 50px; /* Положение треугольника */
        border: 10px solid transparent; /* Прозрачные границы */
        border-bottom: 10px solid #ebedec; /* Добавляем треугольник */
    }
	#commentForm label.error, #commentForm input.submit {
		width: 180px;
        height: 40px;
	}
	#signupForm {
		width: 670px;
	}
	#signupForm label.error {
		margin-left: 10px;
		width: auto;
		display: inline;
	}
	#newsletter_topics label.error {
		display: none;
		margin-left: 103px;
	}
@media screen and (min-width: 320px) and (max-width: 639px) {
    #commentForm {
		width: 100%;
	}
     #commentForm #cname-error {
        top: -56px;
        left: 30%;
        opacity: 0.9;
        height: 38px;
        width: 58%;
	}
    #commentForm #cname-error:after {
        display: none;
    }
    #commentForm #cemail-error {
        top: 20px;
        left: 30%;
        opacity: 0.9;
        height: 38px;
        width: 58%;
        
	}
    #commentForm #cemail-error:after {
        display: none;
    }
    #commentForm #ccomment-error {
		height: 38px;
        width: 58%;
        top: 114px;
        left: 30%;
        opacity: 0.7;
	}
    #commentForm #ccomment-error:after {
        display: none;
    }
}


