
/*Стили для слайдера */
.sl__slide{
    position: relative;
}
.sl__text{
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 110px;
}
.sl__zag{
    font-family: 'Open Sans', sans-serif;
    font-size: 63px;
    font-weight: 600;
    margin-bottom: 30px;
} 
.sl__desc{
    font-family: 'Open Sans', sans-serif;
    font-size: 23px;
    font-weight: 400;
    margin:0 auto 10% auto;
    width: 400px;
}
.sl__but{
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 600;
    border: 3px solid #fff;
    padding: 20px 40px;
    border-radius: 6px;
    cursor: pointer;
    }
/*Адаптивность картинок и видео*/
img{
  max-width: 100%;
  height: auto;
}

.vidres{
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.vidres iframe, .vidres embed, .vidres object{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*Используется для центрирования контента*/
.mid{
  max-width: 1170px; /*Укажите своё значение*/
  margin: 0 auto;
}

/*Колонки - задаём свои, если чего то не хватает
  по умолчанию используется расстояние в 4% между колонками*/
.col25, .col33, .col50{
  float: left;
  margin: 0 4% 0 0;
}

.col25{ /*4 в ряд*/
  width: 22%;
}

.col33{ /*3 в ряд*/
  width: 30.6666666%;
}

.col50{ /*2 в ряд*/
  width: 48%;
}

.col25:last-child,
.col33:last-child,
.col50:last-child{
  margin: 0;
}

/*Очистка обтекания*/
.mid:before, .cf:before, .mid:after, .cf:after{
  content: " ";
  display: table;
}
.mid:after, .cf:after{
  clear: both;
}

/*Адаптивность*/
@media screen and (min-width: 1024px) and (max-width: 1365px) {
    .sl__text{
    position: absolute;
    top: 20%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 0;
}
.sl__zag{
    font-size: 46px;
    font-weight: 400;
    opacity: 1;
} 
.sl__desc{
    display: block;
    margin:0 auto 100px auto;
}
.sl__but{
    font-size: 18px;
    font-weight: 400;
    border: 3px solid #fff;
    padding: 15px 30px;
    margin-top: 20px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1023px) {
    .sl__text{
    position: absolute;
    top: 15%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 0;
}
.sl__zag{
    font-size: 36px;
    font-weight: 400;
    opacity: 1;
} 
.sl__desc{
    display: block;
}
.sl__but{
    font-size: 18px;
    font-weight: 400;
    border: 3px solid #fff;
    padding: 10px 20px;
    }
}
@media screen and (min-width: 640px) and (max-width: 799px) {
    .sl__text{
    top: 0;
    padding: 0;
}
.sl__zag{
    font-size: 30px;
    margin-bottom: 30px;
} 
.sl__desc{
    font-size: 20px;
    margin:0 auto 60px auto;
}
.sl__but{
    font-size: 22px;
    font-weight: 400;
    padding: 10px 20px;
    }
}

@media screen and (min-width: 320px) and (max-width: 639px) {
.sl__text{
    position: absolute;
    top: 25%;
    width: 100%;
    color: #ffffff;
    text-align: center;
    padding-top: 0;
}
.sl__zag{
    font-size: 20px;
    font-weight: 400;
    opacity: 0.7;
} 
.sl__desc{
    display: none;
}
.sl__but{
    font-size: 18px;
    font-weight: 400;
    border: 3px solid #fff;
    padding: 5px 10px;
    }
}