html {-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
img {
	border-style:none;
	max-width:100%;
}
a {text-decoration:none;}
a:hover {text-decoration:none;}
input, textarea, select {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	vertical-align:middle;
	color:#000;
	padding:0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
*:focus {outline: none;}
input::-webkit-input-placeholder{color:#bebebe;}
input:focus::-webkit-input-placeholder{color:#bebebe;}
/***************************************************              GENERAL STYLES             ***************************************************/
h1 {font: 35px sans-serif;}
h2 {font: 25px sans-serif;}
h3 {font: 23px sans-serif;}
h4 {font: 21px sans-serif;}
h5 {font: 18px sans-serif;}
h6 {font: 16px sans-serif;}
/**************************************************/
/*Переменные*/
    /*цвета*/
        $g1: #484c55; /*ссылки Header*/
        $b1: #49cbcd; /*ссылки Header(hover), buy now (2)*/
        $g2: #f8f9fb; /*li:hover(header)*/
        $g3: #788492; /*buy now*/
    /*шрифты*/
        $OpenSans: 'Open Sans', sans-serif;
/*Миксины*/
    /*header*/
        @mixin li_a {
	        padding: 0 30px;
            cursor: pointer;
            height: 100px;
        }
    /*service*/
        @mixin account{
            display: block;
            ul{border: 1px solid #ecf0f1;}
            li{
                width: 368px;
                height: 45px;
                border-bottom: 1px solid #ecf0f1;
                background: #fff;
                font-family: $OpenSans;
                font-size: 14px;
                font-weight: 400;
                color: #8c9299;
                line-height: 45px;
                span{
                    border-radius: 3px;
                    padding: 12px 49px;
                    cursor: pointer;
                }
            }
            li:first-child{
                height: 75px;
                border-bottom: none;
                line-height: 75px;
                font-size: 26px;
                color: #fff;
            }
            li:nth-child(2){
                height: 68px;
                background: #f8f9fb;
                line-height: 68px;
                font-size: 20px;
                color: #485460;
            }
            li:last-child{
                height: 98px;
                border-bottom: none;
                background: #f8f9fb;
                line-height: 98px;
                font-size: 17px;
                color: #fff;
                font-weight: 900;
            }
        }
    /*bott_form*/
            @mixin bott_form{ 
                padding: 16px 10px;
                color: #c1c1c1;
                font-family: $OpenSans;
                font-size: 16px;
                font-weight: 400;
                border-radius: 3px;
                border: none;
            }
/**************************************************/
.wrapper{
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    .header{
        position: fixed;
        width: 90%;
        height: 100px;
        padding: 0 5%;
        z-index: 2000;
        background: #fff;
        .logo{
            display: block;
            width: 120px;
            cursor: pointer;
            overflow: hidden;
            top: 31px;
            left: 10%;
            position: absolute;
            a{
                width: 120px;
                img{
                    opacity: 1;
                }
            }
        }
        .top_nav{
            float: right;
            overflow: hidden;
            position: absolute;
            top: 0;
            right: 10%;
            ul{
                display: flex;
                justify-content: space-around;
                .c1{
                    @include li_a;
                    .c2{
                        font-family: $OpenSans;
                        font-size: 15px;
                        font-weight: 'regular';
                        color: $g1;
                        line-height: 100px;
                    }
                }
                .c1:hover{
                    background: $g2;
                    @include li_a;
                    height: 97px;
                    border-bottom: 3px solid $b1;
                    .c2{color: $b1;}
                }
            }
        }
    }
    .content{
        position: absolute;
        top: 100px;
        width: 100%;
        .service{
            display: flex;
            justify-content: space-around;
            text-align: center;
            background: #f1f1f1;
            padding: 120px 0 100px 0;
            .basic{
                @include account;
                li span{
                    background: $g3;
                }
                li:first-child{
                    background: $g3;
                }
            }
            .pro{
                @include account;
                li span{
                    background: $b1;
                }
                li:first-child{
                    background: $b1;
                }
            }
            .premium{
                @include account;
                li span{
                    background: $g3;
                }
                li:first-child{
                    background: $g3;
                }
            }
            /*service*/
            /*basic*/
            #c3{
                background: #485460;
            }
            #c3:hover{
                background: #366593;
            }
            #c4{
                background: #788492;
            }
            #c4:hover{
                background: #366593;
            }
            /*pro*/
            #c5{
                background: $b1;
            }
            #c5:hover{
                background: #366593;
            }
            #c6{
                background: $b1;
            }
            #c6:hover{
                background: #366593;
            }
            /*premium*/
            #c7{
                background: #485460;
            }
            #c7:hover{
                background: #366593;
            }
            #c8{
                background: #788492;
            }
            #c8:hover{
                background: #366593;
            }   
        }
        .contact{
            background: url(../images/bott_banner.png);
            padding: 100px 0 70px 0;
            text-align: center;
            h2{
                font-family: $OpenSans;
                font-size: 42px;
                font-weight: 400;
                color: #fff;
                margin-bottom: 120px;
            }
            .bott_cont{
                width: 90%;
                margin: 0 auto;
                display: flex;
                justify-content: space-around;
                .left{
                    width: 45%;
                    padding-right: 4%;
                    text-align: left;
                    h3{
                        font-family: $OpenSans;
                        font-size: 24px;
                        font-weight: 400;
                        color: #fff;
                        margin-bottom: 10px;
                    }
                    p{
                        font-family: $OpenSans;
                        font-size: 14px;
                        font-weight: 400;
                        color: #adadad;
                    }
                    .social_networks{
                        ul{display: block;
                            padding: 40px 0 20px 0;
                            li{
                                display: inline-block;
                                overflow: hidden;
                                margin-right: 16px;
                                opacity: 0.7;
                                width: 42px;
                                height: 42px;
                                border-radius: 50%;
                            }
                            li:hover{
                                opacity: 1;
                            }
                        }
                    }
                    .info{
                        h5{
                            color: #bface2;
                            font-family: $OpenSans;
                            font-size: 14px;
                            font-weight: 400;
                            margin-bottom: 12px;
                        }
                    }
                }
                .right{
                    width: 45%;
                    padding-left: 4%;
                    form{
                        .nE{
                            display: flex;
                            justify-content: space-between;
                            input{
                                width: 46%;
                                height: auto;
                                @include bott_form;
                            }
                        }
                        textarea{
                            display: block;
                            width: 100%;
                            @include bott_form;
                            margin: 30px 0;
                            height: 176px;
                        }
                        .top_sub{
                            float: right;
                            width: 170px;
                            background: $b1;
                            border: none;
                            border-radius: 3px;
                            padding: 8px 0 14px 0;
                            text-align: center;
                            color: #fff;
                            font-family: $OpenSans;
                            font-size: 22px;
                            font-weight: 400;
                        }
                    } 
                }
            }
        }
    }
}